<main>
    <div class="container">
        <h1>Add course</h1>
        <form method="POST" action="/courses/add">
            <label for="name">Course Name: </label>
                <input type="text" name="name" id="name" placeholder="Course Name" required/>
            <label for="courseid">Course Id: </label>
                <input type="text" name="courseId" id="courseId" placeholder="Course Id" required/>
             <label for="credits">Course Credits: </label>
                <input type="text" name="credits" pattern="\d+" min="1" max="3" id="credits" placeholder="Course Credits" required/>
             <label for="professorName">Professor Name: </label>
                <input type="text" name="professorName" id="professorName" placeholder="Professor Name" required/>
             <label for="professorEmail">Professor email: </label>
                <input type="text" name="professorEmail" id="professorEmail" placeholder="Professor email" required/>
              <label for="taName">TA Name: </label>
                <input type="text" name="taName" id="taName" placeholder="TA Name" required/>
             <label for="taEmail">TA Email: </label>
                <input type="text" name="taEmail" id="taEmail" placeholder="TA Email" required/>
               <input type="submit" value="Add Course" class="btn" />
        </form>
    </div>
</main>