<div class="card-center">
    <h3>Add course</h3>
    <form method="POST" action="/courses/add/">
       <input type="text" name="name" placeholder="course Name" class="inputFields" />
        <input type="text" name="courseid" placeholder="course Id" class="inputFields" />
        <input type="text" name="credits" placeholder="course credits" class="inputFields" />
        <input type="text" name="professorname" placeholder="Professor Name"  class="inputFields" />
        <input type="text" name="professoremail" placeholder="Professor email"  class="inputFields" />
        <input type="text" name="taname" placeholder="Ta Name"  class="inputFields" />
        <input type="text" name="taemail" placeholder="Ta Email"  class="inputFields" />
       <input type="submit" value="Add Course" class="btn" />
    </form>
</div>