<div class="card-center">
    <h1>Add course as Owner</h1>
    <form class="form-container" method="POST" action="/courses/add">
    <label>
        <input type="text" name="name" placeholder="course Name" class="inputFields" />
    </label>
    <input type="submit" value="Add course" class="btn" />
    </form>
</div>
<div class="card-center">
    <h1>admin Owned courses</h1>
    <p>(Click links to edit)</p>
    {{#each courses}}
        <p><a href="/courses/edit/{{this._id}}">{{this.name}}</p></a>
    {{/each}}
</div>