<div class="card-center">
    <h3>Edit course</h3>
    <form method="POST" action="/courses/edit/">
        <input type="text" name="_id" placeholder="course ID" value="{{course._id}}" class="inputFields" readonly />
        <input type="text" name="name" placeholder="course Name" value="{{course.name}}" class="inputFields" />
       <input type="submit" value="Edit course" class="btn" />
    </form>
</div>