<main>
    <div class="container">
        <h1>Welcome to the Course Review and applications!</h1>
        {{#unless studentLoggedIn}}
        {{#unless adminLoggedIn}}
            <p>Are you new Student? You can review the <a href="/courses">Courses </a></p>
            <p>Are you existing Student already taken the course? Please <a href="/students/login"> Login </a>to provide your rating!</p>
            <p>Are you Admin? Please <a href="/courses/admin"> Login </a>to add/edit courses</p>
        {{else}}
            <p>You want add courses? Click <a href="/courses/add">Add Course</p>
           <p>You want edit course?<a href="/courses/edit">Edit Course</p>
        {{/unless}}
        {{else}}
            <p>Please review the courses <a href="/courses">Courses </a></p>
        {{/unless}}
    </div>
    
</main>