<main>
    <div class="search-card-center">
        <h1>Welcome!</h1>
        <p>Choose the best course based on the review and ratings provided by students who taken the course</p>
        <label for="search-bar">
            <form id="search-form" method="POST" action="/courses/search">
                <input id="search-bar" type="text" name="search" class = "searchFields" placeholder="Search for a course" />
                <input type="submit" class = "btn" value="Search" />
            </form>
        </label>
        <label for="search-bar">
            <a class = "btn" href="/students/login" id="auth">Login</a>
        </label>
        
    </div>
</main>