<main>
    <div class="container">
        <h1>Welcome to the Course Review and applications!</h1>
        <p>Choose the best course based on the review and ratings provided by students who taken the course</p>
        <div for="searchCourse">
            <form id="searchCourse-form" method="POST" action="/courses/search">
                <input id="searchCourse" type="text" name="search" class = "searchFields" placeholder="Search for a course" />
                <input type="submit" class = "btn" value="Search" />
            </form>
        </div>
        <div for="searchCourse">
            <a class = "btn" href="/students/login" id="auth">Login</a>
        </div> 
    </div>
</main>