<main>
    <h1>Login to review Course! You can add the comments and rating for the course</h1>
    <div class="loginPage" id="login-details">
        <h2>Login</h2>
        <form id="login-form" name="loginForm" action="/students/login" method="POST">
            <label>
                <input type="text" class="loginInput" name="email" id="email" placeholder="Enter your Email" />
                <span id="emailError" class="error"></span>
            </label>
            <label>
                <input type="password" class="loginInput" name="password" id="password"
                    placeholder="Enter your Password" />
                <span id="passwordError" class="error"></span>
            </label>
            <button type="submit" class="btn">Login</button>
            <p class="mb-0 mt-10">Don't have account? Please <a href="/students/register">Register</a></p>
            {{#if error}}
            <p class="error-msg">{{error}}</p>
            {{/if}}
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
        </script>
    <script src="/public/javascript/login.js"></script>
</main>