<main>
    <h1>Login to review the Course!</h1>
    <div class="container" id="login-details">
        <form id="login-form" name="loginForm" action="/students/login" method="POST">
            <label for="email">Email: </label>
                <input type="text" name="email" id="email" placeholder="Enter your Email" required />
                <span id="emailError" class="error"></span>
           
            <label for="password">Password:</label>
                <input type="password" name="password" id="password"
                    placeholder="Enter your Password" required/>
                <span id="passwordError" class="error"></span>
            <button type="submit" class="btn">Login</button>
            <p>Don't have account? Please <a href="/students/register">Register</a></p>
            {{#if error}}
            <p class="error-msg">{{error}}</p>
            {{/if}}
        </form>
    </div>
   
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
        </script>
    <script src="/public/javascript/login.js"></script>
</main>