<main>
    <h1>Login to review Course! You can add the comments and rating for the course</h1>
    <div class="loginPage">
        <h2>Login</h2>
        <form id="login-form" name="loginForm" action="/students/login" method="POST">
            <label>
                <input type="text" class="loginInput" name="email" id="email" placeholder="Enter your Email" />
                <span id="emailError" class="error"></span>
            </label>
            <lable>
                <input type="password" class="loginInput" name="password" id="password"
                    placeholder="Enter your Password" />
                <span id="passwordError" class="error"></span>
                </label>
                <button type="submit" class="btn">Login</button>
                <p class="mb-0 mt-10">Don't have an account? <a href="/students/register">Register</a></p>
                {{#if error}}
                    <p class="error">{{error}}</p>
                {{/if}}
        </form>

    </div>
</main>