<div class="card-center">
    <p>No results matched that query. Please try another search!</p>
    <form id="searchCourse-form" method="POST" action="/courses/search">
        <input id="searchCourse" type="text" name="search" class = "searchFields" placeholder="Search for a course or cuisine" />
        <input type="submit" class = "btn" value="Search" />
    </form>
</div>
